Repository free-bird-operation-project/quiz-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: 📦 dependencies, 📖 documentation, ✨ enhancement, 🌏 site, ⚙️ configs, 👷🏼‍♂️ service worker, 💬 localization

style: add rounded square button layout
  src/styles/layout/buttons.css
Labels: none

style: add pointer cursor for buttons
  src/styles/design/buttons.css
Labels: none

style: add page layout
  src/styles/layout/page.css
Labels: none

style: add page design
  src/styles/design/page.css
Labels: none

style: add quiz form layout
  src/styles/layout/quiz-form.css
Labels: none

style: add quiz form design
  src/styles/design/quiz-form.css
Labels: none

feat: implement `QuizForm` component
  src/pages/main/maker/features/quiz-form/quiz-form.js
Labels: none

feat: implement quiz form component
  src/pages/main/maker/features/quiz-form/quiz-form.js
Labels: none

fix: move quiz form to components folder
  src/pages/main/maker/components/quiz-form/quiz-form.js
Labels: none

fix: move quiz form to components folder
  src/pages/main/maker/components/quiz-form/quiz-form.js
Labels: none

feat: add 'hidden' attribute to textarea and checkbox components
  src/components/checkbox.js
  src/components/textarea.js
Labels: none

feat: add 'hidden' as valid attribute
  src/utilities/config/has-valid-attributes.js
Labels: none

feat: add 'hidden' attribute to textarea and checkbox components
  src/components/checkbox.js
  src/components/textarea.js
Labels: none

feat: add 'hidden' as valid attribute
  src/utilities/config/has-valid-attributes.js
Labels: none

fix: explicitly handle hidden attribute
  src/components/checkbox.js
  src/components/textarea.js
Labels: none

fix: explicitly handle hidden attribute
  src/components/checkbox.js
  src/components/textarea.js
Labels: none

style: add snackbar
  src/styles/design/snackbar.css
Labels: none

style: add snackbar
  src/styles/design/snackbar.css
Labels: none

fix: add property name in transition
  src/styles/design/tab.css
Labels: none

fix: remove redundant 'use strict'
  src/components/__tests__/button.test.js
  src/components/__tests__/checkbox.test.js
  src/components/__tests__/container.test.js
  src/components/__tests__/modal.test.js
  src/components/__tests__/page.test.js
  src/components/__tests__/snackbar.test.js
  src/components/__tests__/tab.test.js
  src/components/__tests__/textarea.test.js
  src/components/button.js
  src/components/checkbox.js
  src/components/container.js
  src/components/modal.js
  src/components/page.js
  src/components/snackbar.js
  src/components/tab.js
  src/components/textarea.js
Labels: none

fix: remove redundant 'use strict'
  src/components/__tests__/button.test.js
  src/components/__tests__/checkbox.test.js
  src/components/__tests__/container.test.js
  src/components/__tests__/modal.test.js
  src/components/__tests__/page.test.js
  src/components/__tests__/snackbar.test.js
  src/components/__tests__/tab.test.js
  src/components/__tests__/textarea.test.js
  src/components/button.js
  src/components/checkbox.js
  src/components/container.js
  src/components/modal.js
  src/components/page.js
  src/components/snackbar.js
  src/components/tab.js
  src/components/textarea.js
Labels: none

fix: reduce redundancy in mocking console.log
  src/components/__tests__/button.test.js
Labels: none

fix: remove unnecessary .trim()
  src/components/textarea.js
Labels: none

refactor: remove assignments within expressions
  src/components/checkbox.js
Labels: none

fix: change TEXTAREA to node
  src/components/checkbox.js
Labels: none

refactor: complete localStorage management test case
  src/components/__tests__/checkbox.test.js
Labels: none

fix: remove redundant 'use strict'
  src/components/__tests__/checkbox.test.js
Labels: none

feat: add app initializer
  src/index.js
Labels: ✨ enhancement

test: add app initializer
  src/__tests__/index.test.js
Labels: none

docs: add basic HTML template for Quiz Manager
  src/index.html
Labels: ✨ enhancement

feat: add App class
  src/app.js
Labels: ✨ enhancement

test: add unit tests for App class
  src/__tests__/app.test.js
Labels: none

feat: add type validation
  src/utilities/__tests__/sanitize-elements.test.js
  src/utilities/sanitize-elements.js
Labels: none

fix: remove redundant 'use strict' directive
  src/utilities/sanitize-elements.js
Labels: none

style: remove excess line break
  src/utilities/sanitize-elements.js
Labels: none

feat: add second set of prerequisites (#11)
  .prettierrc
  jest.config.json
  jsconfig.json
  package-lock.json
  package.json
  src/__tests__/app.test.js
  src/__tests__/index.test.js
  src/app.js
  src/index.html
  src/index.js
  src/utilities/__tests__/sanitize-elements.test.js
  src/utilities/sanitize-elements.js
  webpack.config.common.js
Labels: ✨ enhancement, ⚙️ configs

fix: rename 'element' to 'value'
  src/utilities/__tests__/sanitize-elements.test.js
  src/utilities/__tests__/sanitize-value.test.js
  src/utilities/sanitize-elements.js
  src/utilities/sanitize-value.js
Labels: none

feat: add drop console for production code
  webpack.config.prod.js
Labels: ⚙️ configs

fix: rename sanitizeElements to sanitizeValue
  src/app.js
Labels: ✨ enhancement

chore: add main page
  src/pages/main-page.js
Labels: none

.github/labeler.yml:

# For changed dependencies
📦 dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - yarn.lock

# For changes in documentation
📖 documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*.md
          - docs/**/*.md

# For changes in source code
✨ enhancement:
  - changed-files:
      - any-glob-to-any-file:
          - src/*

# For changes in site
🌏 site:
  - changed-files:
      - any-glob-to-any-file:
          - public/*

# For changes in configuration
⚙️ configs:
  - changed-files:
      - any-glob-to-any-file:
          - .prettierrc
          - .eslintrc
          - .babelrc
          - webpack.config.*.js
          - .jestrc

# For changes in service worker
👷🏼‍♂️ service worker:
  - changed-files:
      - any-glob-to-any-file:
          - public/service-worker.js
          - public/workbox-config.js
          - public/src-sw.js
          - public/sw.js

# For changes in locale
💬 localization:
  - changed-files:
      - any-glob-to-any-file:
          - locale/*
